.App {
  text-align: center;
}


.ingrediente {
  list-style: none;
  text-align: left;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus,
.nav-link,
.nav-link:hover,
.nav-link:focus {
  color: white;
}

.bg-darkgreen {
  background-color: #007585; /* Cambia este valor por el verde agua oscuro deseado */
}

.bananer {
  width: 100%;
  border: 1px solid;
  border-radius: 0;
  background-image: url('./assets/img/pizzaBanner.jpg');
  background-size: cover;
}
